@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.hero_main{
  width:100%;
  height:400px;
  background-color: white;
}
.hero_main_mob{
  width:100%;
  height:100vh;
  transition: opacity 1s ease-in-out;
  opacity:0;
  /* background-color: rgb(243, 219, 112); */
  display:none !important;
  @media screen and (max-width: 767px) {
    display:block !important;
  }
}


.hero_main_mob{
  opacity:1;
}
.container{
  max-width: 1300px;
  margin:0 auto;
  /* background:yellow;   */
  height:100%;
}

.sticky-nav {
  /* animation: sticky-nav 300ms; */
}
 
.spacer{
  height:100px;
}


.image-slider {
  position: relative;
  height: 100vh; /* Adjust as needed */
  width: 100vw; /* Adjust as needed */
  overflow: hidden;
}

.main{
  background: rgb(241, 243, 210);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.map-wrapper {
  display: flex;
  gap: 2%;
  padding: 5% 3%;
  background:white;
}


.map-text {
  padding: 3%;
  line-height: 1.6;
}

.map-wrapper h1{
  text-align:center;
  font-weight: bold;
}

.map-text h3 {
  font-weight: 700;
  font-size: 1.4em;
}

.map-text a {
  color: rgb(35, 67, 245);
}

.map-text a:hover {
  border-bottom: 2px rgb(35, 67, 245) solid;
}

.google-map {
  width:100%;
  height: 500px;
  margin-bottom:100px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 1.9px 2.2px rgba(0, 0, 0, .02), 0 4.5px 5.3px rgba(0, 0, 0, .028), 0 8.4px 10px rgba(0, 0, 0, .035), 0 15px 17.9px rgba(0, 0, 0, .042), 0 28px 33.4px rgba(0, 0, 0, .05), 0 67px 80px rgba(0, 0, 0, .07);
}

.google-map iframe {

  width: 100%;
  height: 350px;
}

.map-wrapper {
  flex-direction: column;
}

.hero-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
 background:rgba(0, 0, 0, 0.24);
 color:white;
}

.hero-text{
  /* border:1px solid white; */
  /* padding:40px 60px;
  border-radius:10px; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.phone-icon{
  margin-top:40px;
  display:flex;
  flex-direction: column;
  align-items: center;



  
}

.fon-icon{
  padding:20px;
  border:2px solid white;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

.fon-icon:hover{
  padding:30px;
}

.phone-icon p{
  padding:10px;
  cursor: pointer;
}

.footer{
  width:100%;
  background:rgb(182, 182, 159);
  padding:90px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1{
  font-weight:bold;
  color:rgb(46, 44, 44);
  margin-top:10px;
}
.hero-text button{
  margin-top:270px;
  padding:10px 40px;
  
  border-radius:25px;
  background:rgb(224, 194, 61);
}

.hero-text button:hover{
  background:rgb(146, 123, 22);
}

.slide.active {
  opacity: 1;
}
@keyframes sticky-nav {
 0% {
     transform: translateY(-6em)
 }

 100% {
     transform: translateY(0)
 }
}